body {
  background-color: #8d42b0;
  font-family: 'Indie Flower';
  font-size: 30px;
  text-align: center;
}

ul {
   display: inline-block;
   text-align:left;
 }

.btn {
  margin-bottom: 10px;
  font-size: 25px;
}

.well {
  background-color: #ffd1fb;
}

.results-column {
  display: none;
}

#results-buttons {
  display: none;
}

#results {
  font-size: 25px;
}

#results-check {
  font-size: 25px;
}

#close-results {
  font-family: serif;
  font-size: 20px;
  color: white;
}

#close-results:hover {
  text-decoration: underline;
  cursor: pointer;
  color: lightgray;
}
